
.container{
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    width: 80%;
    height: 70vh;
}
span{
    color:orange;
}
.big-image>div>p{
    color:black;
}
.big-image{
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url("main-1.png");
    border-right: 1px solid white;
    background-size: cover;
   
    
    
}
.smallimg-1{
    background-image: url("https://new.orange.jo/sites/default/files/styles/width_960/public/2021-10/01.png?itok=7Pe1qP2S&fbclid=IwAR0LwpmtSC2KwFs0nnFLSQTMU0X177SwjiGi_5HSX1DAm4gluI-pceVPRT8");
}
.blueback{
    background-color: #44BBE6;
    background-image: url("https://new.orange.jo/themes/custom/orange/images/background-images/green_highlights.svg?fbclid=IwAR1HiB_NQWJwCyh9qFMNfpbdefBv_mz8fJg_siwdQhqKqUg6ydG8W5GlGW8");
}
.greenback{
    background-color: #16B364;
    background-image: url("https://new.orange.jo/themes/custom/orange/images/background-images/green_highlights.svg?fbclid=IwAR1HiB_NQWJwCyh9qFMNfpbdefBv_mz8fJg_siwdQhqKqUg6ydG8W5GlGW8");    

}
.smallimg-2{
    background-image: url("https://new.orange.jo/sites/default/files/styles/width_960/public/2021-10/03.png?itok=GHWbn5Mc&fbclid=IwAR1s9o-OQMLNb6498eVldjzblKGFHZSEaQW5e0LteebeCmgtMED3K1RU2d0");
}

.containerTaps{
    width: 80%;
    height: 50px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;

 
   
    align-items: center;
 
    column-gap: 15px;
}
.containerTaps >div{
    width: auto;
    height: 50px;
    font-weight: bold;
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
    

   
    
}
.tap1>.phone{
    width: 40px;
    height: 40px;
    border: 2px solid #FFD200;
    background-color: #FF912E;
    


}
.tap2>.icon{
    width: 40px;
    height: 40px;
    border: 2px solid #F5F5F5;
    background-color:#F5F5F5;
    align-items: center;


}
.tap3>.icon{
    width: 40px;
    height: 40px;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    align-items: center;


}
.tap4>.icon{
    width: 40px;
    height: 40px;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    align-items: center;


}
.tap5>.icon{
    width: 40px;
    height: 40px;
    border: 2px solid #F5F5F5;
    background-color: #F5F5F5;
    align-items: center;


}

 
.tap1{
    color: white;
    background-color: #FF7900;
  
}
.tap2{
   border-bottom: 3px solid #44BBE6;
}
.tap3{
   border-bottom: 3px solid #A885D8;
}
.tap4{
   border-bottom: 3px solid #50BE87;
}
.tap5{

   border-bottom: 3px solid #FFB4E6;
}
#phone{
    border: 2px solid #FFCB02 ;
}
